*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}
body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://plus.unsplash.com/premium_photo-1679830513990-82a4280f41b4?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
}

.cursor{
    position: fixed;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    /* transition: all 0.3s ease; */

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    padding: 2vw 2vw;
}
nav i{
    font-size: 24px;
    font-weight: 600;
}
nav h1{
    font-size: 28px;
    font-weight: 600;
}
.hero_section{
    position: absolute;
    top:20%;
    left:2%;
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}
.hero_section h1{
    font-size: 80px;
    font-weight: 700;
    letter-spacing: -0.06em;
    color: rgb(81, 53, 9);
    padding: 0;
}
.hero_section h3{
    width:70%;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    word-spacing: 2px;
    line-height: 20px;
    color: rgb(32, 32, 32)
}